#register-body{
    background-image: url(./assets/map.png);
    background-size: cover;
    height: 100vh;
    
}

#reg-head{
    position: absolute;
    color: #d9d9d9;
    text-align: center;
    margin-left: 17em;
    margin-top: 1em;
    font-weight: bolder;
}

#form-container{
    position: absolute;
    background-color: #171e2e;
    margin-left: 31em;
    width: 28%;
    height: 80%;
    margin-top: 6em;
    text-align: justify;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 1%;
}

#form-items{
    margin:1em;
}

#reg-item-header{
    color: #d9d9d9;
    font-weight: 400;
}

#reg-item-subheader{
    color: #d9d9d9;
    font-weight: 400;
}

#reg-username{
    padding: 1em;
    border-radius: 0.6em;
    border: none;
    width:24em;
    background-color: #313742;
    margin-bottom: 20px;
    margin-top: 10px; 
    color: #d9d9d9;
    outline:none;

}

#reg-password{
    padding: 1em;
    border-radius: 0.6em;
    border: none;
    width:24em;
    background-color: #313742;
    margin-bottom: 20px;
    margin-top: 10px; 
    color: #d9d9d9;
    outline:none;

}

#reg-address{
    padding: 1em;
    border-radius: 0.6em;
    border: none;
    width:24em;
    background-color: #313742;
    margin-bottom: 20px;
    margin-top: 10px; 
    color: #d9d9d9;
    outline:none;

}

#item-head-1{
    margin-top:1em;
    color:#d9d9d9;
    font-weight: 400;
}

#item-head{
    color:#d9d9d9;
    font-weight: 400;
}

#submit{
    padding: 1em;
    border-radius: 0.6em;
    border: none;
    width:26em;
    background-color:#00ffa4;
    margin-bottom: 10px;
    margin-top: 6px; 
    color:black;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}


#reg-extra{
    color:#d9d9d9;
    text-align: center;
    font-weight: 400;
}


#login-xtra{
    color: #00ffa4;
}

#role-select{
    /* width:23em;
    padding:5px;
    background-color: #313742; */
    padding: 0.5em;
    border-radius: 0.6em;
    border: none;
    width:23em;
    background-color: #313742;
    margin-bottom: 20px;
    margin-top: 10px; 
    color: #d9d9d9;
    outline:none;


}